body {
    font: 20px arial, sans-serif;
}
.navbar {
    background-color: #9359aa;
}
.quem-somos {
    background-color: #AB966A;
    color: white;
}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros {
    background-color: #48ab7f;
    color: white;
}
.text {
    text-align: justify;
}
.bg-footer {
    background-color: black;
    color: white;
}